body{
	background-color:white;
}

.header{
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	margin-top:5px;
	margin-bottom:-5px;
	text-align: center;
	font-size: 40px;
}

.info{
	text-align: right;
}



#table1 {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 850;
	border: 1;
}

	#table1 td, #table1 th {
		border: 1px solid #ddd;
		padding: 4px;
	}

	#table1 tr:nth-child(even){
		background-color: #f2f2f2;
	}

	#table1 tr:hover {
		background-color: #ddd;
	}

	#table1 th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: center;
	  background-color: #EF3F23;
	  color: #f2f2f2;
	}
